[OPTIONS]

dhcp: 0
enable: 1
ipfilter: 1
radv: 1

[IPSET ipfilter-net0] # Allowed source IPs for net0

{% for prefix in ipfilter_v6_prefixes %}
{{ prefix }}
{% endfor %}

[RULES]

GROUP docker_services
GROUP management
