# NextDNS CLI Configuration
profile {{ nextdns_id }}
listen :{{ nextdns_listen_port }}
report-client-info true
log-queries true
cache-size {{ nextdns_cache_size }}
setup-router false
auto-activate false
